<section class="ma__location-listing js-location-listing">
  <div class="ma__location-listing__filters">
    <form action="#" class="js-location-listing-form">
      <fieldset class="ma__filter-search">
        <label for="filter-by-location">Filter by city, town or zipcode</label>
        <input class="" name="filter-by-location" id="filter-by-location" type="text" placeholder="" data-type="text">
        <button type="submit" class="ma__button-search"><span>Update</span></button>
      </fieldset>
    </form>
  </div>
  <div class="ma__location-listing__columns">
    <div class="ma__location-listing__map">
      <div class="ma__location-listing__sticky js-location-listing-map" data-sticky="top" style="width: 489.406px;">
        <div class="ma__google-map" aria-hidden="true" role="presentation">
          <div class="ma__google-map__map js-google-map" style="position: relative; overflow: hidden;"></div>
        </div>
      </div>
    </div>
    <div class="ma__location-listing__results js-location-listing-results">
    </div>
  </div>
</section>