<section class="ma__mapped-locations">
  <div class="ma__mapped-locations__header">
    <h2 class="ma__comp-heading">All Locations</h2>
    <a class="ma__content-link ma__content-link--chevron" href="#"><span>See a list of all locations</span></a>
  </div>
  <div class="ma__mapped-locations__map">
    <div class="ma__google-map" aria-hidden="true" role="presentation">
      <div class="ma__google-map__map js-google-map"></div>
    </div>
  </div>
</section>
