/* GOOGLE CUSTOM SEARCH STYLES */

/* search results container */
.cse .gsc-control-cse, .gsc-control-cse {
  padding: 0 !important;
}

/* no results content - matches mayflower callout alert */
.gs-no-results-result .gs-snippet {
  border: 3px solid #fbe28d !important;
  padding: 30px !important;
  background-color: #fef9e8 !important;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

/* mobile search custom override */
.cse form.gsc-search-box, form.gsc-search-box,
.gsc-search-box {
  margin: 0;
  padding: 0;
}
@media (max-width: 620px) {
  .cse form.gsc-search-box,
  .ma__header__container form.gsc-search-box,
  .ma__header__container .gsc-search-box {
    display: none;
  }

  .ma__header__search .ma__header-search .ma__button-search {
    display: inline-block;
    position: static;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    vertical-align: middle;
  }
}

@media (min-width: 621px) {
  .ma__header__search .ma__header-search .ma__button-search {
    display: none;
  }
}
table.gsc-search-box {
  margin: 0;
}
form.gsc-search-box .gsc-search-box tr {
  background-color: #F6F6F2;
  border: none;
}
table.gsc-search-box tbody td {
  border: none;
}
table.gsc-search-box td.gsc-input {
  padding: 0;
}
table.gsc-search-box input.gsc-input {
  font-size: 16px;
  font-size: 1rem;
  height: 46px;
  padding-right: 20px;
  padding-left: 17px;
  width: 100%;
  border: 2px solid #dcdcdc;
}

table.gsc-search-box input.gsc-input[style] {
  background: none !important;
  background-color: #fff !important;
}
table.gsc-search-box td.gsc-input {
  padding: 0 !important;
}
.ma__header-search table.gsc-search-box td.gsc-search-button {
  padding: 0;
  width: 14% !important;
}

.gsc-search-box {
  position: relative;
}

.cse input.gsc-search-button, .gsc-search-box input.gsc-search-button {
  display: block;
  height: 46px;
  padding: 0 38px 0 18px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ffffff url("/modules/custom/mass_search/images/search.svg") no-repeat 78px center;
  border: 2px solid #dcdcdc;
  color: #43956f;
  font-family: "Texta","Helvetica","Arial","sans-serif";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: background-color 0.4s ease 0s, color 0.4s ease 0s, border 0.4s ease 0s, fill 0.4s ease 0s;
  white-space: nowrap;
  border-radius: 0;/* override styles from Google, minimalist.css */
}
.gsc-search-box input.gsc-search-button::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -1px;
  vertical-align: middle;
  width: 1px;
}
.cse input.gsc-search-button:hover, .gsc-search-box input.gsc-search-button:hover {
    background: #43956f url("/modules/custom/mass_search/images/search-hover.svg") no-repeat 78px center;
    border-color: #43956f;
    color: white;
    cursor: pointer;
}
.gsc-clear-button {
  display: none;
}

/* mobile nav search form styles */
@media (max-width: 620px) {
  .ma__header__nav-search .ma__header-search table.gsc-search-box input.gsc-input {
    padding-right: 45px;
    padding-left: 10px;
  }
}

/* mobile autocomplete styles */

/** target the mobile autocomplete and override js-assigned positioning
    because as is,it does line up under input.

  1. magic number'ish for mobile autocomplete drop down left position:
    - 100% = full width of the body, the autocomplete drop down's parent
    - minus 300px = width of mobile nav menu
    - plus 300px to cancel out the -300px translation to <body> when mobile nav menu opens
    - plus 10px to match padding inside the mobile nav menu

  Google assigns the autocomplete selector (gstl_50, gstl_51) based on when the
  search forms (and thus autocompletes) appear in the DOM so we need to target based on
  what page we are on.  In our search results js we add the search results-page to the
  body tag because here and only here, the mobile search form is first, semantically.
  On all other pages, the mobile search form is second, after the global header form. */
body.not-front:not(.search-results-page) .gstl_51.gssb_c[style],
body.search-results-page .gstl_50.gssb_c[style] {
  left: calc(100% + 10px) !important; /* 1 */
}

.gssb_e {
  box-shadow: none !important; /* search results page autocomplete */
  background: #fff;
}

.gssb_a:hover {
  cursor: pointer;
}

/* autocomplete styles */
.gsq_a {
  padding: 0 0 5px 7px !important;
}

@media (min-width: 801px) {
  .gsq_a {
    /*padding: 0 !important;*/
  }
}

.gsq_a span {
  color: #535353 !important;
  font-family: "Texta","Helvetica","Arial","sans-serif";
  font-size: 18px;
  font-weight: 600;
}

.gsq_a span b {
  font-weight: 200;
}

.gsc-branding {
  display: none;
}

.gsc-completion-container {
  padding-top: 10px !important;
  border: 1px solid #dcdcdc !important;
  box-shadow: none !important;
  margin-top: -1px !important;
}

/* horizontal rule separating autocomplete from promotions */
.gssb_l {
  margin: 10px 0 !important;
}

/* autocomplete promotion container table */
.gsc-completion-container .gsc-completion-promotion-table {
  margin: 5px 7px !important;
}

/* autocomplete promotion link */
.gsc-completion-title {
  color: #14558f !important;
  font-family: "Texta","Helvetica","Arial","sans-serif";
  font-weight: 700 !important;
  font-size: 18px !important;
}

/* autocomplete promotion description */
.gsc-completion-snippet {
  display: none;
}

/* autocomplete hover style, class applied to parent <tr> */
.gsc-completion-selected {
  background: #f2f2f2 !important;
  cursor: pointer;
}


/* GOOGLE CUSTOM SEARCH RESULTS PAGE STYLES */
/*
.gsc-resultsbox-visible * {
  background-color: #fff;
}
*/
.gsc-control-cse {
  /*font-family: Arial, sans-serif;*/
  font-family: "Texta","Helvetica","Arial","sans-serif";
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.gsc-control-cse .gsc-table-result {
  /*font-family: Arial, sans-serif;*/
  font-family: "Texta","Helvetica","Arial","sans-serif";
}

.gsc-above-wrapper-area,
.gsc-above-wrapper-area table.gsc-above-wrapper-area-container,
.gsc-result-info {
  margin: 0;
  padding: 0;
}
.gsc-above-wrapper-area table.gsc-above-wrapper-area-containertd {
  padding: 0 9px;
}
/* ------------------------------
    tabs
 ------------------------------ */
.gsc-tabHeader {
  display: none;
}

/* ------------------------------
    results
 ------------------------------ */

.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
/*  border-color: #FFFFFF; */
  border-left: 0;
  background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
  border-left: 0;
  background-color: #FFFFFF;
}
.gsc-webResult.gsc-result.gsc-promotion * {
  border: none;
}
.gsc-webResult.gsc-result.gsc-promotion {
  border-left: 0;
  background-color: #f6f6e5;
}
.gsc-webResult.gsc-result.gsc-promotion:hover {
  border: none;
  border-left: 0;
  background-color: #f1f2d8;
}
.gs-webResult.gs-result .gs-snippet b, .gs-imageResult .gs-snippet b {
  /* color: #444444; */
  background-color: #fdefc2 !important;
  padding: 0 2px;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: #444444;
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
  /* color: #444444; */
  /*color: #0000cc;*/
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
  color: #777777;
}
.gsc-cursor-page {
  color: #444444;
}
a.gsc-trailing-more-results:link {
  color: #444444;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
  color: #333333;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
  color: #000000;
}
.gs-webResult div.gs-visibleUrl-short {
  color: #000000;
}
.gs-webResult div.gs-visibleUrl-short  {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long {
  display: block;
}
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-promotion div.gs-visibleUrl-long  {
  display: block;
}
.gsc-cursor-box {
  border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  border-color: #777777;
  background-color: #FFFFFF;
  color: #444444;

  margin-right: 1em;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  border-color: #333333;
  background-color: #fff; /* #333333; */
  color: #444444;
}
/*
.gsc-webResult.gsc-result.gsc-promotion {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
*/
.gsc-completion-snippet {
  color: #333333;
}
.gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
  color: #0000CC;
}
.gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
  color: #0000CC;
}
.gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
  color: #444444;
}
.gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
  color: #49492b;
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #333333;
}
.gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
  color: #405372;
}
.gs-promotion:hover .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
  color: #405372;
}

.gsc-thumbnail-inside,
.gs-watermark {
  display: none;
}

/* ------------------------------
    custom override
 ------------------------------ */

.gsc-above-wrapper-area {
  border-bottom: 0 !important;
  padding: 0 !important;
}

/* borrow + edit container scaffolding form Mayflower link-list */
.ma__link-list {
  padding: 20px 0;
}

@media (min-width: 801px) {
  .ma__link-list {
    padding: 60px 0;
  }
}

/* remove results header */
.gsc-resultsHeader, .gcsc-branding {
   display: none;
}
/* results count */
.gsc-result-info {
  display: none;
}

/* dynamically added headings for promotions, regular results, styled with ma__sidebar-heading */
.ma__search-heading {
  border-color: #dcdcdc !important;
  color: #535353 !important;
  border-bottom: 2px solid;
  font-size: 19.008px;
  font-size: 1.188rem;
  letter-spacing: .09em;
  padding-bottom: .5em;
  text-transform: uppercase;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";
}

/* promoted result container */
.gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion:hover {
    border: none;
    border-left: 0 !important;
    background-color: #43956f !important;
    color: #fff !important;
    padding: 1em 1.7em; /* add right padding because arrow icon is bg image */
    min-height: 125px;
    display: block;
    margin: 1em 0 !important;
    box-shadow: 0 0.25rem 0.5rem rgba(1, 1, 1, 0.25);
}

.gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion:hover {
  background-color: #535353 !important;
}

.gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion:hover {
  background-color: #14558f !important;
  margin-bottom: 4em !important;
}

.gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion + .gsc-webResult.gsc-result.gsc-promotion {
  display: none;
}

@media (min-width: 601px) {
  .gsc-webResult.gsc-result.gsc-promotion,
  .gsc-webResult.gsc-result.gsc-promotion:hover {
    width: 100%;
    max-width: 55em;
  }

  @media (min-width: 1101px) {
    .gsc-webResult.gsc-result.gsc-promotion,
    .gsc-webResult.gsc-result.gsc-promotion:hover {
      display: inline-block;
      margin-top: 1em;
      margin-bottom: 4em !important;
      width: calc( 33% - 1.2em);
      vertical-align: top;
      margin-left: 2em !important;
      height: auto;
      /*min-height: 300px;*/
      border-bottom: 0 !important;
    }
  }

  .gsc-webResult.gsc-result.gsc-promotion:first-of-type {
    margin-left: 0 !important;
  }

  .gs-promotion.gs-result {
    margin-top: .5em !important;
  }
}

/* add arrow icon as bg image for links */
/* promoted results - external links + common styles */
.gsc-result.gsc-promotion a.gs-title {
  background: transparent url("/modules/custom/mass_search/images/external-link-white.svg") no-repeat right center !important;
  padding-right: 25px !important;
}

/* promoted results - massgov links */
.gsc-result.gsc-promotion a.gs-title[data-ctorig^="/"], .gsc-result.gsc-promotion a.gs-title[data-ctorig^=".."], .gsc-result.gsc-promotion a.gs-title[data-ctorig^="http://www.mass.gov"], .gsc-result.gsc-promotion a.gs-title[data-ctorig^="https://www.mass.gov"], .gsc-result.gsc-promotion a.gs-title[data-ctorig^="http://mass.gov"], .gsc-result.gsc-promotion a.gs-title[data-ctorig^="https://mass.gov"] {
  background: transparent url("/modules/custom/mass_search/images/arrow-white.svg") no-repeat right center !important;
}


/* regular results - external links + common styles */
.gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title {
  background: transparent url("/modules/custom/mass_search/images/external-link-blue.svg") no-repeat right center !important;
  padding-right: 25px;
}

/* regular results - massgov links */
.gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title[data-ctorig^="/"], .gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title[data-ctorig^=".."], .gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title[data-ctorig^="http://www.mass.gov"], .gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title[data-ctorig^="https://www.mass.gov"], .gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title[data-ctorig^="http://mass.gov"], .gsc-webResult.gsc-result:not(.gsc-promotion) a.gs-title[data-ctorig^="https://mass.gov"] {
  background: transparent url("/modules/custom/mass_search/images/arrow-blue.svg") no-repeat right center !important;
}

/* first result after promoted results */
.gsc-webResult.gsc-result:not(.gsc-promotion) {
  margin: 2em 0 0;
}

.gsc-expansionArea .gsc-webResult.gsc-result:not(.gsc-promotion), .gsc-expansionArea .gsc-webResult.gsc-result:not(.gsc-promotion):hover {
  border-top: 1px solid rgb(220, 220, 220);
  padding: 2em 0 0 !important;
}

@media (min-width: 801px) {
  /* first result after promoted results */
  .gsc-webResult.gsc-result:not(.gsc-promotion) {
    margin: 2em 0;
    width: 100%;
    max-width: 65em;
  }

  .gsc-expansionArea .gsc-webResult.gsc-result:not(.gsc-promotion),
  .gsc-expansionArea .gsc-webResult.gsc-result:not(.gsc-promotion):hover {
    clear: left;
    margin: 0 !important;
    padding: 2em 0 !important;
    width: 100%;
    max-width: 65em;
  }
}

/* promoted result link */
.gs-promotion a.gs-title:link,
  .gs-promotion a.gs-title:visited,
  .gs-promotion a.gs-title:link *,
  .gs-promotion a.gs-title:visited *,
  .gs-promotion .gs-snippet a:link,
  .gs-promotion .gs-snippet a:visited {
  font-size: 24px !important;
  font-size: 1.5rem !important;
  line-height: 1.214287 !important;
  font-weight: 500 !important;
  font-family: "Texta","Helvetica","Arial","sans-serif";
  color: #fff !important;
  border-bottom: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}
 @media (min-width: 801px) {
   .gs-promotion a.gs-title:link,
   .gs-promotion a.gs-title:visited,
   .gs-promotion a.gs-title:link *,
   .gs-promotion a.gs-title:visited *,
   .gs-promotion .gs-snippet a:link,
   .gs-promotion .gs-snippet a:visited {
     font-size: 28px !important;
     font-size: 1.75rem !important;
   }
 }

.gs-promotion a.gs-title, .gs-promotion a.gs-title * {
  text-decoration: none !important;
}

.gs-promotion.gs-result .gs-title {
    overflow: visible;
    min-height: 2em;
    height: auto;
    margin-bottom: .5em;
}

/* promoted link hover */
.gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover *, .gs-promotion .gs-snippet a:hover {
  border-color: #fff !important;
}

/* promoted visible url */
.gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl-short {
  color: #fff !important;
}

/* hide promoted visible url */
.gs-promotion div.gs-visibleUrl-long {
  display: none !important;
}

/* promoted result snippet (description)*/
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #f2f2f2 !important;
  font-size: 14px !important;
  font-size: 1rem !important;
  line-height: 1.214287 !important;
  font-weight: 200 !important;
  font-family: "Texta","Helvetica","Arial","sans-serif";
}

/* standard result container */
.gsc-expansionArea .gsc-webResult.gsc-result {
  padding: 2em 0;
  /*padding-bottom: 2em;*/
  width: 100%;
  max-width: 65em;
}

/* result container style */
.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult-classic, .gsc-results .gsc-imageResult-column {
    border-left: 0 !important;
    background-color: #FFFFFF !important;
}
/* result container hover style */
.cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
    border-left: 0 !important;
    /*border-top: 1px solid rgb(220, 220, 220) !important;*/
    background-color: #FFFFFF !important;
}

/* result links */
.gs-result .gs-title, .gs-result .gs-title * {
    color: #14558f !important;
    text-decoration: none !important;
    line-height: 1.67 !important;
}

/* result title font size */
.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title * {
    font-size: 18px !important;
}

/* show title overflow so we can see bottom border hover effect*/
.gs-result .gs-title {
    overflow: visible !important;
    min-height: 1.75em !important;
    height: auto !important;
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    font-size: 26px !important;
    font-size: 1.625rem !important;
    line-height: 1.3 !important;
    margin-bottom: .5em !important;
    font-weight: 700 !important;
    font-family: "Texta","Helvetica","Arial","sans-serif";
    color: #14558f !important;
    border-bottom: 3px solid transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    -webkit-transition: border 0.4s ease;
    transition: border 0.4s ease;
}

/* result link hover styles */
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
    border-bottom: 3px solid #14558f;
    outline-width: 0;
}

.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
  /* color: #444444; */
  /*color: #0000cc;*/
  color: #14558f !important;
}

.cse .gs-result .gs-snippet, .gs-result .gs-snippet, .cse .gs-spelling-original, .gs-spelling-original {
  font-weight: 400;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif" !important;
  color: #535353 !important;
  font-size: 22px !important;
  font-size: 1.375rem !important;
  line-height: 1.5 !important;
}

.cse .gs-result.gs-promotion .gs-snippet, .gs-result.gs-promotion .gs-snippet, .cse .gs-spelling-original, .gs-spelling-original {
  color: #ffffff!important;
  font-weight: 200;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif" !important;
  font-size: 20px !important;
  line-height: 1.5 !important;
}

.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
  color: #535353 !important;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";
}

div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
  display: none !important;
}

/* results coount, result background */
/*.cse .gsc-control-wrapper-cse .sc-resultsbox-visible tr */

.gsc-above-wrapper-area-container tr,
.gs-promotion-table tr,
.gsc-table-result tr {
  background: none;
}
/* search description */
.gsc-table-cell-snippet-close .gs-snippet {
  margin: 0.8em 0 0.3em 0;
}
.gsc-webResult.gsc-result {
  margin: 1em auto;
}
.gsc-webResult.gsc-result.gsc-promotion {
  margin: 1em;
}
.gsc-table-cell-snippet-close .gs-snippet {
  margin: 0.5em 0 0.3em;
  line-height: 1.5em;
}
.gsc-above-wrapper-area {
  border-bottom: none;
}
.gsc-results .gsc-cursor-box {
  margin-top: 0 !important;
  padding-top: 1rem;
  color: #14558f !important;
  font-weight: 200;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif" !important;
  font-size: 20px !important;
  line-height: 1.5 !important;
  border-top: 2px solid rgb(220,220,220) !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    color: #14558f !important;
    margin-right: .5em !important;
    font-size: 18px;
    font-size: 1em;
    padding: 5px 10px;
    border: 0;
    text-decoration: none !important;
    font-weight: 400;
    display: inline-block;
}

.cse .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page, .gsc-results .gsc-cursor-box .gsc-cursor-page.gsc-cursor-current-page {
  /*padding: 0;*/
  color: #fff !important;
  border-color: #14558f;
  background-color: #14558f !important;
  padding: 5px 10px;
  font-weight: 200;
}

.gsc-input input {
  text-indent: 0px !important;
}

/* GOOGLE CUSTOM SEARCH RESULTS PAGE SEARCH FORM */
.ma__content__search {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 781px) {
  .ma__link-list__container {
    padding-left:30px;
    padding-right: 30px
  }
}

@media (min-width: 911px) {
  .ma__link-list__container {
    padding-left:40px;
    padding-right: 40px
  }
}



/* search results page search form orverride */
.ma__content__search form.gsc-search-box, form.gsc-search-box,
.gsc-search-box {
  width: 100%;
  margin: 0;
  padding: 0 !important;
}
@media (max-width: 620px) {
  .cse form.gsc-search-box,
  .ma__content__container form.gsc-search-box,
  .ma__content__container .gsc-search-box {
    display: none;
  }

  .ma__content__search .ma__content-search .ma__button-search {
    display: inline-block;
    position: static;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    vertical-align: middle;
  }
}

@media (min-width: 621px) {
  .ma__content__search .ma__content-search .ma__button-search {
    display: none;
  }
}
.ma__content__search table.gsc-search-box {
  margin: 0;
}
.ma__content__search form.gsc-search-box .gsc-search-box tr {
  background-color: #F6F6F2;
  border: none;
}
.ma__content__search table.gsc-search-box tbody td {
  border: none;
}
.ma__content__search table.gsc-search-box td.gsc-input {
  padding: 0;
}
.ma__content__search table.gsc-search-box input.gsc-input {
  font-size: 16px;
  font-size: 1rem;
  height: 46px;
  padding-right: 85px;
  padding-left: 17px;
  width: 100%;
  background: #fff;
  border: 2px solid #dcdcdc;
}

@media (min-width: 620px) {
  .ma__content__search table.gsc-search-box input.gsc-input {
    padding-right: 128px;
  }
}
.ma__content__search table.gsc-search-box input.gsc-input[style] {
  background: none !important;
  background-color: #fff !important;
  color: #141414 !important;
}
.ma__content__search table.gsc-search-box td.gsc-input {
  padding: 0;
}
.ma__content__search table.gsc-search-box td.gsc-search-button {
  padding: 0;
  width: 6% !important;
}
.ma__content__search .gsc-input {
  width: 100%;
}
.ma__content__search input.gsc-search-button {
    display: block !important;
    height: 46px;
    padding: 0 38px 0 18px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
    font-family: "Texta","Helvetica","Arial","sans-serif";
    background: #ffffff url("/modules/custom/mass_search/images/search.svg") no-repeat 78px center;
    border-radius: 0;
    color: #43956f;
    border: 2px solid #dcdcdc;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
    -webkit-transition: background-color .4s, color .4s, border .4s, fill .4s;
    transition: background-color .4s, color .4s, border .4s, fill .4s;
    white-space: nowrap;
    cursor: pointer;
}
.ma__content-search input.gsc-search-button:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -1px;
  vertical-align: middle;
  width: 1px;
}
.ma__content__search input.gsc-search-button:hover {
   background: #43956f url("/modules/custom/mass_search/images/search-hover.svg") no-repeat 78px center;
    border-color: #43956f;
    color: white;
}
.ma__content__search .gsc-clear-button {
  display: none !important;
}

/* mobile nav search form styles */
@media (max-width: 620px) {
  .ma__content__nav-search .ma__content-search input.gsc-search-button {
    padding-right: 12px;
  }

  .ma__content__nav-search .ma__content-search table.gsc-search-box input.gsc-input {
    padding-right: 45px;
    padding-left: 10px;
  }
}

/* augmented search styles from .ma__header__search, copied from mayflower index-generated.css */

/* block container class */
.ma__content__search {
  text-align: center;
  vertical-align: middle;
  padding-top: 0;
  width: 100%; }
  /*@media (min-width: 621px) {
    .ma__content__search {
      width: 66.12903%; } } */
  @media (min-width: 1100px) {
    .ma__content__search {
      padding-top: 0; } }

/* block content section class */
.ma__content-search {
  position: relative;
  width: 100%; }
  .ma__content-search__label {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
  .ma__content-search__input {
    font-size: 16px;
    font-size: 1rem;
    height: 46px;
    padding-right: 6%;
    padding-left: 17px;
    width: 100%; }
    @media (max-width: 620px) {
      .ma__content__search .ma__content-search__input {
        display: none;
      }
    }
    @media (min-width: 700px) {
      /*.ma__content-search {
        width: calc(100% - 250px);
      }*/
      .ma__content-search__input {
        padding-right: 17px;
      }
    }
  .ma__content-search .ma__button-search {
    display: block;
    height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
    .ma__content__nav-search .ma__content-search .ma__button-search {
      border: none;
      border-left: 0; }
    @media (max-width: 620px) {
      .ma__content__search .ma__content-search .ma__button-search {
        display: inline-block;
        position: static;
        -webkit-transition: opacity .4s;
        transition: opacity .4s;
        vertical-align: middle; }
        .ma__content__search .ma__content-search .ma__button-search:before {
          content: "";
          display: inline-block;
          height: 100%;
          margin-right: -1px;
          vertical-align: middle;
          width: 1px; }
        .show-menu .ma__content__search .ma__content-search .ma__button-search {
          opacity: 0; } }
    @media (min-width: 621px) and (max-width: 700px) {
      .ma__content__search .ma__content-search .ma__button-search span {
        display: none; } }

/* reduce vertical spacing above linked list container for search results */
@media (max-width: 620px) {
  .ma__link-list {
    padding-top: 20px;
  }
}

/**
 * Banner Search Overrides for GSC search.
 */
.ma__search-banner__form {
  width: auto !important;
}
.ma__search-banner .gsc-control-searchbox-only {
  width: 100%;
}
.ma__search-banner table.gsc-search-box tbody td {
  border: none;
}
.ma__search-banner table.gsc-search-box td.gsc-input {
  padding: 0;
}
.ma__search-banner table.gsc-search-box td.gsc-input input{
  background: none !important;
  background-color: rgba(255, 255, 255, 0.75) !important;
  color: #141414;
  font-weight: 300;
  height: 100%;
  width: 100%;
}
.ma__search-banner__input {
  display: block;
}
.ma__search-banner__button {
  width: 50px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.ma__search-banner__button input.gsc-search-button {
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  padding: 0;
  padding-right: 40px;
  font-weight: 700;
  font-family: "Texta","Helvetica","Arial","sans-serif";
  background: none;
  background: url("/modules/custom/mass_search/images/search-black.svg") no-repeat center center;
  background-size: 20px;
  border-radius: 0;
  color: #141414;
  border: 0px none;
  font-size: 1.125rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transition: none;
  transition: none;
  white-space: nowrap;
  cursor: pointer;
}
.ma__search-banner__button input.gsc-search-button:hover {
  background: none;
  background: url("/modules/custom/mass_search/images/search-hover.svg") no-repeat center center;
  background-size: 20px;
  border: 0px none;
  color: white;
}

@media (min-width: 621px) {
  .ma__search-banner__button {
    width: 153px;
  }
  .ma__search-banner__button input.gsc-search-button,
  .ma__search-banner__button input.gsc-search-button:hover {
    height: 60px;
    background-position: 105px center;
    background-size: 30px;
  }
}
@media (min-width: 781px) {
  .ma__search-banner__button {
    width: 173px;
  }
  .ma__search-banner__button input.gsc-search-button,
  .ma__search-banner__button input.gsc-search-button:hover {
    height: 90px;
    background-position: 115px center;
  }
}


/**
 * PILOT header overrides to make search forms show
 */

/* update width of pilot menu */

@media (min-width: 781px) {
  .ma__header__main-nav {
    position: static !important;
    text-align: right;
    width: 100% !important;
  }
}

/* make header search form visible */
.ma__header__search {
  display: inline-block !important;
}

/* error and interstitial page search bar */
.ma__narrow-template #cse-header-search-form {
  margin-bottom: 75px;
}

@media (max-width: 620px) {
  .gsc-search-box input.gsc-search-button,
  .gsc-search-box input.gsc-search-button:hover {
    color: transparent;
    padding: 0;
    background-position: center;
  }
}
