{#
/**
 * @file
 * Partial for page header. To be included at the node template level.
 */
#}
<section class="ma__action-header">
  <div class="ma__action-header__inner">
    <div class="ma__action-header__container">
      <div class="ma__action-header__content">
        <section class="ma__page-header">
        <h1 class="ma__page-header__title">{{label}}</h1>
        {% if content.field_lede|render|trim %}
          <h4 class="ma__page-header__sub-title">
            {{ content.field_lede|field_value }}
          </h4>
        {% endif %}
        </section>
        {% if content.field_action_header|render|trim is not empty %}
          {{ content.field_action_header|field_value }}
        {% endif %}
      </div>
      {% if content.field_header_cta|render|trim is not empty %}
        <div class="ma__action-header__widgets">
          {{ content.field_header_cta|field_value }}
        </div>
      {% endif %}
    </div>
    {% if actionHeader.divider %}
      <div class="ma__action-header__divider">
        {% include "@atoms/divider.twig" %}
      </div>
    {% endif %}
  </div>
</section>

