/**
 * Hide the Title field on node-action extended header contact group.
 */
.form-item-field-action-header-0-subform-field-title-0-value {
  display: none;
}

.field--name-field-contact-group-layout,
.form-item-field-action-sidebar-0-subform-field-contact-group-layout {
  display: none;
}

.field--name-field-action-header .field--name-field-contact-group-layout {
  display: block;
}
