@media (min-width: 801px) {
  .ma__header {
    padding-top: 0;
  }
}

.ma__header__backto {
  display: inline-block;
  height: 40px;
  margin-bottom: 3px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  z-index: 9999;
}

@media (min-width: 801px) {
  .ma__header__backto {
    background-color: #14558f;
    display: block;
    position: relative;
    text-align: center;
  }
}

.show-menu .ma__header__backto {
  left: -100%;
}

.ma__header__backto a {
  font-weight: 500;
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";
  background-color: #e8eef4;
  border: 3px solid;
  border-color: #8aaac7;
  border-top: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  color: #14558f;
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 6px 7px;
}


.ma__header__backto a:before {
  border-right: 4px solid;
  border-bottom: 4px solid;
  content: "";
  display: inline-block;
  height: 10px;
  margin-top: 3px;
  margin-right: .5em;
  -webkit-transform: translateY(-45%) rotate(135deg);
  -ms-transform: translateY(-45%) rotate(135deg);
  transform: translateY(-45%) rotate(135deg);
  -webkit-transform-origin: 75% 75%;
  -ms-transform-origin: 75% 75%;
  transform-origin: 75% 75%;
  -webkit-transition: all .2s;
  transition: all .2s;
  vertical-align: middle;
  width: 10px;
}


@media (min-width: 481px) {
  .ma__header__backto a {
    font-size: 1.375rem;
    margin-left: 20px;
    padding: 7px 15px;
  }
}

.ma__header__backto a:before {
  height: 9px;
  margin-right: .75em;
  margin-top: 0;
  opacity: .5;
  width: 9px;
}

.ma__header__backto a:hover {
  padding-top: 18px;
}
