{#
/**
* @file
* Template for the Section Topic cards.
*/
#}
<section class="ma__sections-3up">
  <div class="ma__sections-3up__container">
    {% for row in rows %}
      {{ row }}
    {% endfor %}
  </div>
</section>
