{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 *
 * @see template_preprocess_file_link()
 */
#}
<div class="ma__download__item">
  <div class="ma__download__icon">
    {% set iconName = download.iconName %}
    {% include '@atoms/05-icons/svg-' ~ iconName|lower ~ '.twig' ignore missing %}
  </div>
  <h5 class="ma__download__title">
    <a href="{{ download.link }}">{{ download.linktext }}</a> <span>({{ download.filetype|upper }} {{ download.size }})</span>
  </h5>
</div>
