<section class="google-map-field ma__action-map" aria-hidden="true" role="”presentation”">
  <div class="map-container ma__action-map__google-map js-google-map" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="{{ zoom }}">map</div>
</section>
