{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see hook_theme() in mass_search.module
 * @see page--search.html.twig
 *
 */
#}

<div class="pre-content">
  <section class="ma__breadcrumbs" role="navigation" aria-labelledby="system-breadcrumb">
    <div class="ma__breadcrumbs__container">
      <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/search">Search Results</a>
        </li>
      </ul>
    </div>
  </section><!-- .ma__breadrumbs -->
  <div class="ma__content__search js-header-search-menu">
    <section class="ma__content-search">
      <!-- search form container -->
      <div id="cse-search-results-form" role="search" style="width: 100%;" dir="ltr">Loading</div>
    </section><!-- .ma__content__search -->
  </div><!-- .ma__content-search -->
</div><!-- .pre-content -->
<div class="main-content" role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="page-content">
    <section class="ma__link-list">
      <div class="ma__link-list__container">
        <!-- search results container -->
        <div id="cse-search-results" style="width: 100%;">Loading</div>
      </div><!-- .ma__link-list__container -->
    </section><!-- .ma__link-list -->
  </div><!-- .page-content -->
</div><!-- .main-content -->
