{
  "extends": "./core/.eslintrc",
  "globals": {
    "google": true
  },
  "rules": {
    // Override this rule from core, make warning instead of error
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "none"
      }
    ]
  }
}