core/assets/vendor/**/*
core/modules/locale/tests/locale_test.js
vendor/**/*
sites/**/files/**/*
libraries/**/*
sites/**/libraries/**/*
profiles/**/libraries/**/*
**/js_test_files/**/*
web/themes/custom/mass_theme/js/*
web/themes/custom/mass_theme/libraries/jquery_once/*
web/themes/custom/mass_theme/libraries/browserupdate/js/*
web/themes/custom/mass_admin_theme/js/entity-embed-dialog-alter.js
web/themes/custom/mass_theme/overrides/js/*
